* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  background-color: #393939;
}

.produtos {
  width: 100%;
  height: 170vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
 }

.produtos h2 {
  color: #FFFFFF;
  font-size: 55px;
  text-align: center;
}

.ajuste h2{
  color: #191919;
  font-size: 30px;
}

.card-produtos {
  display: flex;
  margin-top: 5%;
  width: 80%;
  height: 100%;
}

.card {
  display: flex;
  perspective: 1000px;
  width: 100%;
  height: 100%;
}



.front,
.back {
  height: 90%;
  width: 80%;
  background-color: #e6e9f2;
  border-radius: 20px;
  display: flex;
  padding: 2%;
  border: solid 3px #ffaa00;
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.front{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: rotateY(0deg);
}

.back {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transform: rotateY(180deg);
 }

.front img {
  height: 60%;
  border-radius: 20%;
}

.back h5 {
  text-decoration: underline 5px #FFAA00;
  color: #000000;
  font-size: 24px;
}

.back p {
  color: #191919;
}

.products .ajuste {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin-top: 10px;
}

.card:hover .front {
  transform: rotateY(-180deg);
}

.card:hover .back {
  transform: rotateY(0deg);
}

.bt {
  width: 80%;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  justify-content: space-evenly;
}

.bt button {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  border: 2px solid #00FF15;
  color: #FFFF;
  display: flex;
  align-items: center;
  width: 98%;
  height: 40px;
  justify-content: space-between;
  background-color: #FFFF;
}

.bt .icon {
  background-color: #00FF15;
  padding: 20px;
  width: 35%;
  z-index: 2;
  color: #FFFF;
}

.bt span {
  padding: 0px 30px;
  color: #00FF15;
  transition: all .3s ease .5s;
  z-index: 2;
}

.bt button:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #00FF15;
  transform-origin: right;
  transition: all .7s ease;
  z-index: 1;
  transform: scale(0, 1);
}

.bt button:hover:after {
  transform: scale(1, 1);
}

.bt button:hover span {
  color: #FFFF;
}



.sobre {
  height: 65vh;
  display: flex;
  align-items: center;
  padding: 3% ;
  background-color: #0a53a7;
}

.sobre img {
  width: 25%;
  border-radius: 30%;
  border: solid 5px #FFAA00;
  margin-right: 30px;
  cursor: pointer;
  background-color: #e6e9f2;
}

.info-sobre{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.sobre div h2 {
  color: #FFAA00;
  font-size: 36px;
}

.sobre div p {
  color: #FFAA00;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 30px;
}


